<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
</style>
<h2>Registration</h2>
<form method="POST" action="">
	<table>
		<tr>
            		<td>username</td>
	            	<td><input type="text" name="username"></td>
        	</tr>
	        <tr>
        	    	<td>Password</td>
            		<td><input type="password" name="password"></td>
        	</tr>
        	<tr>
            		<td>Password retype</td>
            		<td><input type="password" name="password2"></td>
        	</tr>
		<tr>
			<td><button type="submit">Register</button></td>
		</tr>

		<!-- <button type="submit">Register</button> -->

</form>
<br/>
</body>
</html>
